<!--=====================================
	Newletter
	======================================-->

<div class="ps-newsletter">
  <div class="container">
    <form class="ps-form--newsletter" action="do_action" method="post">
      <div class="row">
        <div class="col-xl-5 col-12">
          <div class="ps-form__left">
            <h3>Boletin Informativo</h3>
            <p>Suscríbete para obtener información sobre productos y cupones</p>
          </div>
        </div>

        <div class="col-xl-7 col-12">
          <div class="ps-form__right">
            <div class="form-group--nest">
              <input
                class="form-control"
                type="email"
                placeholder="Dirección Correo"
              />
              <button class="ps-btn">Suscribir</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
