<!--=====================================
	Header Promotion
	======================================-->
<div
  class="ps-block--promotion-header bg--cover"
  style="background: url(../../../assets/img/banner/top/header-promotion.jpg)"
>
  <div class="container">
    <div class="ps-block__left">
      <h3>20%</h3>
      <figure>
        <p>Descuento</p>
        <h4>Para Libros en Septiembre</h4>
      </figure>
    </div>
    <div class="ps-block__center">
      <p>Ingrese a Promoción<span>Ventas 2022</span></p>
    </div>
    <a class="ps-btn ps-btn--sm" href="#">Compra Ahora</a>
  </div>
</div>
