<!--=====================================
    	Home Features
    	======================================-->

<div class="ps-site-features">
  <div class="container">
    <div class="ps-block--site-features ps-block--site-features-2">
      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-rocket"></i></div>
        <div class="ps-block__right">
          <h4>Envios Gratis</h4>
          <p>Por Compras Mayores a $99</p>
        </div>
      </div>

      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-sync"></i></div>
        <div class="ps-block__right">
          <h4>90 Dias para retormar</h4>
          <p>Si los producos tiene problemas</p>
        </div>
      </div>

      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-credit-card"></i></div>
        <div class="ps-block__right">
          <h4>Pagos Seguro</h4>
          <p>100% sus pagos son seguros</p>
        </div>
      </div>

      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-bubbles"></i></div>
        <div class="ps-block__right">
          <h4>24/7 Soporte</h4>
          <p>Soporte siempre disponible</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Home Features-->
