<!--=====================================
    	Home Banner
    	======================================-->
<ngb-carousel #carousel [interval]="5000">
  <ng-template
    *ngFor="let item of banner_home; let i = index; let lastIndex = last"
    ngbSlide
  >
    <div class="ps-banner--market-4">
      <div class="picsum-img-wrapper">
        <img
          src="{{ path }}img/products/{{ category[i] }}/horizontal/{{
            item.img_tag
          }}"
          alt="Random first slide"
        />
        <div class="ps-banner__content">
          <h4>{{ item.h4_tag }}</h4>
          <h3>
            {{ item.h3_1_tag }} <br />
            {{ item.h3_2_tag }} <br />
            <p>
              {{ item.h3_3_tag }} <strong> {{ item.h3_4s_tag }}</strong>
            </p>
          </h3>
          <a class="ps-btn" href="#">{{ item.button_tag }}</a>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
